* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
 /* border: 2px solid red;  */

}

body {
    background: url(./css/images/reg6_.webp) no-repeat;
    background-size: cover;


    /* color: #000; */
}

.container {
    position: absolute;
    top: 10px;
    left: 30%;
    transform: translate(-50% -50%);
    width: 400px;
}

h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

p {
    font-size: 18px;
    padding: 18px 0;
  
}

input {
    font-size: 15px;
    padding: 12px 8px;
    /* margin: 12px; */
    width: 100%;
    border: 0;
    border-radius: 8px;
    outline: none;
}

.btn {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 15px 10px;
    width: 50%;
    border: 0;
    border-radius: 5px;
}

.btn:hover {
    background-color:#155263;
}

input:hover {
     background-color: #cfbbbb; 

     /* background-color:#155263; */
} 