* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./style/images/coffemug2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#main p {
    /* border: 2px solid red; */
    font-size: 32px;
    color: orangered;
    /* width: 95px; */
    margin-left: 85px;
    margin: 15px;
}

#mylist {
    border: 4px solid green;
    display: block;

}

#mylist,
ul,
li,
a {
    display: inline-block;
    float: left;
    /* margin-left: 60px; */
    /* margin-top: -10px; */
    /* padding: 15px; */
    /* margin: 12px; */
}

ul,
li a {
    margin-left: 150px;
    margin-top: -15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}



